/************
GENERAL
************/

body {
	font-family: 'Open Sans', sans-serif;

}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}

/************************
FONTS
************************/

@font-face {
    font-family: MagnetoBold;
    src: url("../font/MAGNETOB.TTF") /* TTF file for CSS3 browsers */
}

@font-face {
    font-family: MesquiteStd;
    src: url("../font/MesquiteStd.otf") /* TTF file for CSS3 browsers */
}

h3 {
	margin: 0 0 1em 0;

}

/************************
HEADING
************************/

header{
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

header h1{
	font-family: 'MagnetoBold', sans-serif;
	margin: 0 auto;
	text-align: center;

}

header h2{
	font-family: 'MesquiteStd', sans-serif;
	font-size: 2em;

}


#logo {
	max-width: 50%;	
	margin: 0 auto;
}

#logo_img {
	display: block;
	border-radius: 100%;
	margin: 0 auto;
	width: 50%;	
}

h1 {
	font-family: 'Changa One', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-size: 0.75em;
	margin: -5px 0 0;
	font-weight: normal;
}

/************************
NAVIGATION
************************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	padding: 0;
	list-style: none;
	margin: 0 10px;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;

}

/************************
FOOTER
************************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}


/************************
DUDEISMS + CUSSWORDS
************************/

.quote{
	font-family: 'Open Sans', sans-serif;
	display: inline;	
	color: #571d31;
	margin: 0;
}

.character{
	font-family: 'MesquiteStd', sans-serif;
	display: inline;	
	margin: 0;	
	color:#000;
	position: relative;
	left:10px;
	top: 20px;
}

#gallery{
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	float: left;
	margin: 30px 10px 30px;
	font-size: 1.45em;
}

#gallery li:nth-child(2n) {
	float: right;
}


/************************
Colours
************************/

/*Site Body*/
body {
	background-color: #fff;
	color: #999;
}

/*header*/
header {
	background: #9b6d5e;
	border-color:  #2b2c31;
}

/*nav background on mobile*/
nav {
	background: #633121;
}

h1, h2{
	color: #000;
}

/*nav link*/
nav a, nav a:visited {
	color: #fff;
}

/*selected nav link*/
nav a.selected, nav a:hover {
	color: #bd9284;
}

