@media screen and (min-width: 480px) {


}

@media screen and (min-width: 660px) {

	/************************
	HEADER
	************************/	
	nav{
		background:none;
		float:right;
		font-size: 1.125em;
		width: 45%;
	}

	#logo{
		float: left;
		text-align: left;
	}

	#logo_img{
		width: 20%;
	}

	header{
		border-bottom: 5px solid #5a3f36;
		margin-bottom: 60px;
	}

}


