/************
GENERAL
************/

body {
	font-family: 'Open Sans', sans-serif;

}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}




h3 {
	margin: 0 0 1em 0;

}
/************************
HEADING
************************/

header{
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

@font-face {
    font-family: MagnetoBold;
    src: url("../font/MAGNETOB.TTF") /* TTF file for CSS3 browsers */
}

@font-face {
    font-family: MesquiteStd;
    src: url("../font/MesquiteStd.otf") /* TTF file for CSS3 browsers */
}

header h1{
	font-family: 'MagnetoBold', sans-serif;
	margin: 0 auto;
	text-align: center;

}
header h2{
	font-family: 'MesquiteStd', sans-serif;
	font-size: 2em;

}

.quote{
	font-family: 'Open Sans', sans-serif;
	float: left;
	color: #571d31;
}

.character{
	font-family: 'MesquiteStd', sans-serif;
	float: right;
	/*color:#273b47;*/
	color:#000;

}

#logo {
	max-width: 50%;	
	margin: 0 auto;

	
	/*background-image: url("../img/dude.jpg");*/
	/*background-size: cover;*/
}

#logo_img{
	display: block;
	border-radius: 100%;
	margin: 0 auto;
	width: 50%;
	/*margin: 0 auto;*/
}

h1 {
	font-family: 'Changa One', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;

}

h2 {
	font-size: 0.75em;
	margin: -5px 0 0;
	font-weight: normal;
}

/************************
NAVIGATION
************************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	padding: 0;
	list-style: none;
	margin: 0 10px;

}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;

}

/************************
FOOTER
************************/
footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;

}



/************************
PAGE PORTFOLIO
************************/
#gallery{
	margin: 0;
	padding: 0;
	list-style: none;

}

#gallery li {
	float: left;
	/*width: 45%;*/
	margin: 2.5%;
	font-size: 1.45em;

	/*background-color: #f5f5f5;*/
	/*color: #bdc3c7;*/

}

#gallery li:nth-child(2n) {
	float: right;
}

#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color:#bdc3c7;
}




/************************
PAGE ABOUT
************************/




/************************
Colours
************************/

/*Site Body*/
body {
	/*background-color: #e7c6bb;*/
	background-color: #fff;
	
	/*background-color: #BABABF;*/

	color: #999;
}

/*green header*/
header {
	background: #9b6d5e;
	border-color:  #2b2c31;
}

/*nav background on mobile*/
nav {
	background: #633121;
}

/*logo text*/
/*h1{
	color: #b0b3b8;
}*/

/*#gallery p:nth-of-type(2n + 2) {
	color:#6f001a;
}
#gallery p:nth-of-type(4n + 4) {
	color:#45a700;
}
#gallery p:nth-of-type(6n + 6) {
	color:#004dbb;
}
#gallery p:nth-of-type(8n + 8) {
	color:#d50b00;
}*/

h1, h2{
	color: #fff;
}

/*a {
	color:#6ab47b;
}*/

/*nav link*/
nav a, nav a:visited {
	color: #fff;
}

/*selected nav link*/
nav a.selected, nav a:hover {
	color: #bd9284;
}

